<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="clickable" (click)="changeTo('welcome')" [routerLink]="['/welcome']">home</mat-icon>
    Face Similarity Recognition
    <span class="menu-spacer"></span>
    <div class="navbar-menu">
    <div>
        <a mat-button (click)="changeTo('file')" [routerLink]="'/welcome'" > <span class="material-icons">
            cloud_upload</span> </a>
        <a mat-button (click)="changeTo('camera')" [routerLink]="'/welcome'"> <span class="material-icons">
            add_a_photo</span> </a>
    </div>  
    </div>
</mat-toolbar>