::ng-deep body {
  margin: 0 !important;
/* width */
  ::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12c0ef; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #16a0ce; 
  }


  .mat-toolbar {
    .mat-icon {
      margin-right: 1rem !important;
    }
  }

  .right-card {
    position: relative;
    float: right;
  }

  .container-cards {
    // margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-wrapper {
      width: fit-content;
      height: fit-content;
      justify-content: center;
      display: flex;

      .example-card {
        max-width: 400px;
        margin: auto;
        align-items: center;
      }

      .example-header-image {
        background-size: cover;
      }

      img {
        max-height: 500px;
        object-fit: scale-down;
      }

      .mat-card-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
  .results-wraper{
    align-items: center;
    
    .spinner-wrapper {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h2{
      color: rgba($color: #12c0ef, $alpha: 1.0);
      font-family: 'Proza Libre';      
    }

    .face-result{
    width: 90%;
    margin-top: 4rem;
    padding-top: 25px;
    margin: 30px auto;
    background: white;
    border-radius: 5px;
      
    .best-result{
      align-items: center;
      margin: auto;
      .center-div{
      margin-left: auto; 
      margin-right: auto;
      display: block;
      width: 50%;
      text-align: center;
      
      .example-card{
        max-height: 300px;
        float: left;
      } 
      .example-card::after{
        float: none;
      }
      img{
        height: 100%;
        width: 40%;
        margin: 9px 20px;
      }
      }
    }
    .mat-divider{
      margin: 0 25px;
    }

    .result-gallery{
      overflow-x: scroll;
      width: 97%;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(10, calc(25% ));
      grid-template-rows: minmax(150px, 1fr);
      margin: auto;
      padding: 10px;

      .mat-card{
        max-width: 250px;
        float: left;
        

        img{
          max-height: 200px;
        }
        p{
          font-size: medium;
          text-align: center;
        }
      }    
    }
  }
  .box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }
  }
}
