<cf-header (sendToWelcomPage)="onToolbarButtonPress($event)"></cf-header>
<div class="results-wraper">
    <div *ngIf="isSpinnerDisplayed" class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <div class="face-result box" *ngFor="let face of faceResults">
        <div class="best-result">
            <div class="center-div">
                <img src="{{face.url}}" alt="">
                <img src="{{face.listOfResults[0].url}}" alt="">
                <h2>Best Match</h2>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="result-gallery">
            <mat-card class="example-card" *ngFor="let resultsForFace of face.listOfResults">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="{{resultsForFace.url}}" alt="Photo with detected face">
                <mat-card-content>
                    <p>Similarity: {{resultsForFace.percentage.toFixed(2)}}%</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>