<div id="content">
  <cf-header (sendToWelcomPage)="onToolbarButtonPress($event)"></cf-header>
  <div id="info-wrapper" *ngIf="!isStepperEnabled">

    <mat-card class="info-card">
      <mat-card-header>
        <mat-card-title>1. Face Detection</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://media.kairos.com/blog-images/crowd.png" alt="Face Detection">
      <mat-card-content>
        <button mat-raised-button color="primary" (click)="start()">Let's start!</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="stepper-wrapper" *ngIf="isStepperEnabled">
    <div *ngIf="isSpinnerDisplayed" class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
    <mat-card>
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Face image is required." [completed]="isCompleted">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Upload a face image</ng-template>
            <div id="upload-image-buttons">
              <button mat-flat-button color="primary" *ngIf="!isDragAndDropEnabled" (click)="initDragAndDrop()"><span
                  class="material-icons">
                  cloud_upload</span></button>
              <button mat-flat-button color="primary" *ngIf="!isWebcamEnabled" (click)="initWebcam()"><span
                  class="material-icons">
                  add_a_photo</span></button>
            </div>
            <div id="upload-image-container" *ngIf="isDragAndDropEnabled">
              <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                (onFileDropped)="uploadFile($event)">
                <input hidden type="file" accept="image/x-png,image/jpeg" #fileInput
                  (change)="uploadFile($event.target.files)">
              </div>
            </div>
            <div id="webcam-container" *ngIf="isWebcamEnabled">
              <div id="webcam">
                <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                  [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                  [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                  (initError)="handleInitError($event)"></webcam>
              </div>
              <div id="camera-image-container">
                <button mat-flat-button color="primary" (click)="triggerSnapshot()" *ngIf="isWebcamEnabled"><span
                    class="material-icons">
                    camera</span></button>
                <button mat-flat-button color="primary" (click)="showNextWebcam(true)" *ngIf="isWebcamEnabled"><span
                    class="material-icons">
                    flip_camera_ios</span></button>
              </div>
            </div>
            <div id="picture" *ngIf="isPictureAdded">
              <img class="mat-elevation-z8 fixed-size" [src]="pictureSrc" />
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Top results number is required.">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>How many top results you want to see?</ng-template>
            <mat-form-field>
              <mat-label>Number of results</mat-label>
              <input matInput formControlName="numberOfResultsCtrl" type="number" min="1" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div id="start-step-photo">
            <button mat-flat-button color="primary" (click)="uploadImageAndStart()">Start the algorithm!</button>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>