::ng-deep body{
    margin: 0 !important;
   
    .mat-toolbar{
        .mat-icon{
            margin-right: 1rem !important;
        }
    }

    #info-wrapper{
        margin: 2rem 6rem 2rem 6rem !important;

        .info-card{
            margin: auto !important;
            width: 70%;

            .mat-card-image{
                height: 32rem !important;
            }

            .mat-card-title{
                font-size: 25px;
            }

            .mat-card-content{
                display: flex;
                flex-direction: row;
                justify-content: center !important;
            }

        }
    }

    #stepper-wrapper{
        margin: 2rem;
        position: relative !important;

        .spinner-wrapper{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, 0.10);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #upload-image-buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        #picture{
            display: flex;
            object-fit: contain;
            flex-direction: row;
            justify-content: center;
            padding: 1rem;
            max-height: 400px;
            img{
                padding: 15px;
                object-fit: contain;
            }
        }

        #webcam-container{
            display: flex;
            flex-direction: column;

            #webcam{
                padding: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            #camera-image-container{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }

        #start-step-photo{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .uploadfilecontainer {
            background-image: url("../../../../assets/cloud-2044823_960_720.png");
            background-repeat: no-repeat;
            background-size: 100px;
            background-position: center;
            height: 200px;
            width: 80%;
            margin: 20px auto;
            border: 2px dashed #12c0ef;
            border-radius: 10px;
        }
        
        .uploadfilecontainer:hover {
            cursor: pointer;
            background-color: #9ecbec !important;
            opacity: 0.8;
        }
    }
}